<h1>Home page from  my site</h1>

<%if current_user.nil? %>
<p> <%=link_to "Login",user_session_path%></p>
<%else%>
<p><%=link_to "Edit", edit_user_registration_path%> or <%=link_to "Exit", destroy_user_session_path, method: :delete%></p>
<hr>
<%end%>